/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
    font-family: 'JosefinSans-Bold';
    src: local('JosefinSans-Bold'), url(../../assets/fonts/JosefinSans/JosefinSans-Bold.ttf) format('truetype');
}

body {
  margin: 0px;
  height: 100%;
  background-color: #333333;
}

.MainGrid {
  display: flex;
  justify-content: center;
  margin: min(26px);
  gap: 80px;
}

.MainGridCoils {
  min-width: 488px;
  min-height: 488px;
}

.MainGridControls {
  min-width: 512px;
  min-height: 488px;
}
